* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(0, 0, 0, 0.6)),
    url(images/background.jpg);
    background-size: 100%;
}

.cont {
    box-sizing: content-box;
    width: 50%;
    padding: 20px 30px;
    /*background-color: white;*/
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /*border-radius: 5px;*/
    /*box-shadow: #222222;*/
}

.memory-game {
    position: relative;
    justify-content: center;
    width: 100%;
    display: grid;
    gap: 5px;
}

#modal {
    box-sizing: content-box;
    width: 500px;
    height: 300px;
    padding: 20px 30px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    box-shadow: #222222;
    text-align: center;
}

.mod {
    margin-top: 100px;
}

.menu img {
    width: 50px;
    position: fixed;
    text-align: right;
    justify-content: right;
    margin: 10% 40%;
}

.img-first {
    padding: 40px;
    width: 40%;
}

.stats-container {
    text-align: right;
    margin-bottom: 3px;
}

.stats-container span {
    font-weight: 600;
}

img {
    width: 100px;
}

.card-container {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.card-before, .card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    transition: transform 0.5s ease-out;
    backface-visibility: hidden;
}

.card-before {
    background: linear-gradient(rgba(102, 0, 255, 0.5), rgba(219, 255, 250, 0.6));
    /*background-color: cadetblue;*/
    font-size: 2px;
    font-weight: 600;
}

.card-after {
    background: linear-gradient(rgba(102, 0, 255, 0.5), rgba(219, 255, 250, 0.6));
    transform: rotateY(180deg);
}

.card-container.flipped .card-before {
    transform: rotateY(180deg);
}

.card-container.flipped .card-after {
    transform: rotateY(0deg);

}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(0, 0, 0, 0.6)),
    url(images/background.jpg);
    background-size: 100%;
    top: 0;
}

button {
    border: none;
    border-radius: 3px;
    padding: 6px 7px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0 0 0 / 2%), 0 4px 16px rgba(0 0 0 / 2%),
    0 4px 24px rgba(0 0 0 / 2%);
}

#stop {
    font-size: 20px;
    display: block;
    margin: 3px auto 0 auto;
    background-color: black;
    color: white;
}

.controls-container button {
    font-size: 20px;
    box-shadow: #222222;
}

#modal h2 {
    color: black;
}

.controls-container h2 {
    color: white;
    margin-bottom: 10px;
}

.hide {
    display: none;
}

#result {
    text-align: center;
}

#result h4 {
    font-size: 20px;
    margin: 2px 0 1px 0;
}